.art-content{
    margin: 0;
    width: 100%;
}
.alb-title{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 40vh;
    padding-left: 10px;
    padding-bottom: 5px;
}
.band{
    margin: 0;
}
.follows{
    margin: 0;
}
.alb-list{
    list-style: none;
    font-size: 25px;
}
.alb-item{
    margin: 8px;
}