.icon-user{
    width: 75px;
    height: 75px;
    border: solid #9A97AB 6px;
    border-radius: 50%;
}
.nav{
    padding-top: 30px;
    padding-left: 10px;
    position: fixed;
    height: 100vh;
    width: 15vw;
}
.user{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.list1{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    height: 5%;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    border-top: solid #9A97ABa0 1px;
    border-bottom: solid #9A97ABa0 1px;
}
.list2{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    height: 65%;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 0px;
    border-bottom: solid #9A97ABa0 1px;
}