.art-content{
    margin: 0;
    width: 100%;
}
.art-title{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 40vh;
    padding-left: 10px;
    padding-bottom: 5px;
}
.band{
    margin: 0;
}
.follows{
    margin: 0;
}