.App{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.main{
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  background: #181624;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #020012;
}