.container{
    width: 100vw;
    height: 100%;
    background: #181624a6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 40vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}
.box{
    display: block;
    width: 90%;
    padding: 0;
    margin: 0;
}
.btn{
    width: 45%;
    border: 0;
    font-size: 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
}
.btn-box{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    width: 90%;
    border-radius: 20px;
    margin: 15px;
    padding: 5px;
}
.link{
    color: #288b9c;
    font-weight: bold;
    text-decoration: none;
}